<launch>
  <arg
        name="enableBag"
        default="false"
  />
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
      <arg name="world_file" value="$(find the_inspector)/World/Wall.world"/>
      <arg name="gui" value="1"/>
  </include>
  <node pkg="the_inspector" name="the_inspector" type="the_inspector" output="screen"/>
  <node pkg="rosbag" name="stored_inspector" type="record" args="--all --duration=15 --output-name=$(find the_inspector)/results/storedInspectorData.bag -x /camera/(.*)" if="$(arg enableBag)"
    />
</launch>
